<body>
  <div id=all>
<h1>TODO List</h1>
<h3>A place to store your todos</h3>

<div *ngFor="let todo of todos; index as i">
  <div *ngIf= todo.completed>
    <p style="text-decoration:line-through">{{i}}. {{todo.task}} <button style="float:right" (click)="removeTodo(i)"> Remove Task</button></p>
  </div>
  <div *ngIf= !todo.completed>  
    <p>{{i}}. {{todo.task}} <button style="float:right" (click)="completeTodo(i)"> Complete Task</button> </p>
  </div>
</div>
<div *ngIf="todos.length <= 0">
  <h1>Congradulations!</h1>
</div>

<form #addTodoForm="ngForm" (ngSubmit)="addTodo(addTodoForm)">
  <br/>
  <input type= "text" id="task" name="task" ngModel/>
  <input id="submit" type="submit" value="Add Task" />
</form>
<br/>
</div>
</body>

